.hero-banner{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 80px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
    scrollbar-width: none;
    justify-content: space-between;
}

.banner{
    width: 80%; 
    height: 300px;
    margin: 0 5px 0 5px;
    padding: 0;
    overflow: hidden;
}

/*..... Mobile design .....*/
@media (max-width:400px )  {
    .banner{
        height: 200px;
    }
}

.banner img{
    width:100%;
    height:100%;
}

.navbar{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 30px;
    position: fixed;
    z-index: 999;
}
